<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Playlist</h1>

    <table>
        <tbody>
            <tr th:each="track : ${tracks}">
                <td>Song</td>
                <td>Artist</td>
                <td th:text="${track.url}">URL</td>
                <form th:action="@{client/removeTrack}" method="post"><button type="submit">Submit</button></form>
            </tr>
        </tbody>
    </table>

    <form th:action="@{client/addTrack}" method="post">
        <input type="url" name="url" placeholder="Enter URL here">
        <button type="submit">Submit</button>
    </form>
</body>
</html>